<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ERP.Logistica.Controllers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ERP.Logistica.Controllers.Properties.Settings>
            <setting name="ERP_Logistica_Controllers_RHServico_RH_Servico"
                serializeAs="String">
                <value>http://labsoft.pcs.usp.br:3001/RH_Servico.asmx</value>
            </setting>
            <setting name="ERP_Logistica_Controllers_br_usp_pcs_labsoft_FinlogWS"
                serializeAs="String">
                <value>http://labsoft.pcs.usp.br:3003/FinlogWS.asmx</value>
            </setting>
        </ERP.Logistica.Controllers.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>