<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ERP.Manutencao.Controllers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ERP.Manutencao.Controllers.Properties.Settings>
            <setting name="ERP_Manutencao_Controllers_br_usp_pcs_labsoft_DisponibilidadeWS"
                serializeAs="String">
                <value>http://labsoft.pcs.usp.br:3002/DisponibilidadeWS.asmx</value>
            </setting>
        </ERP.Manutencao.Controllers.Properties.Settings>
    </applicationSettings>
</configuration>